<!DOCTYPE html>
<html>
  <head>
    <title>TradeWiz</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>




  </head>

  <body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <%= link_to "TradeWiz", root_path ,class: "btn btn-primary" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item active">
        <div class="nav-link">
          <%= link_to "Live Stream For Member Only!", member_path, class: "btn btn-primary"%>
        </div>
      </li>

      <li class="nav-item active">
        <div class="nav-link">
          <%= link_to "SIGN UP", wonder_path, class: "btn btn-primary"%>
        </div>
      </li>
    </ul>
  
      <%= link_to "SIGN UP", wonder_path, class: "btn btn-primary "%>
  
  </div>
</nav>



         <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>


    <%= yield %>
  </body>

  <footer class="container">
  <p>&copy; Copyright of Melab Global</p>
</footer>

</html>
